@use './typography.scss' as *;
@use './colors.scss' as *;

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:$primary-font;
  background: $primary-color;
  height: 100vh;
}

img{
  max-width: 100%;
}